div.centered {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

button.connect {
    white-space: nowrap;
}

a.event-backup {
    background-color:#cc79a7;
}

a.event-message {
    background-color:#d55e00;
}

a.event-verify {
    background-color:#009e73;
}

a.event-filemaker-script {
    background-color:#0072b2;
}

a.event-system-script {
    background-color:#e69f00;
}

a.event-sequence-script {
    background-color:#56b4e9;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
